server:
  port: 8082

spring:
  application:
    name: redirect-service
  
  # Redis configuration
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
  
  # Kafka configuration
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 1
      retries: 3
      properties:
        spring.json.add.type.headers: false

# Application settings
app:
  url-service:
    base-url: http://localhost:8081
  redis:
    key-prefix: "short:"
    default-ttl-hours: 24

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.sarthak: DEBUG
    org.springframework.web: INFO
